source /etc/network/interfaces.d/*

auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp

auto eth1
iface eth1 inet static
  address {{bastion_internal_ip_eth1}}
  network 255.255.255.0

auto eth1:0
iface eth1:0 inet static
  address {{bastion_internal_ip_eth1_0}}
  network 255.255.255.0

auto eth2
iface eth2 inet static
  address 2.1.1.1
  network 255.255.255.0
